/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.full-height {
  height: 100vh !important;
}

:root {
  --colors-white: #ffffff;
  --colors-black: #000000;
  --colors-primary-10: #fdfbff;
  --colors-primary-50: #ecf1ff;
  --colors-primary-100: #d5e3ff;
  --colors-primary-200: #a7c8ff;
  --colors-primary-300: #7aadfa;
  --colors-primary-400: #5e92dd;
  --colors-primary-500: #4278c1;
  --colors-primary-600: #245fa6;
  --colors-primary-700: #004689;
  --colors-primary-800: #003061;
  --colors-primary-900: #001b3c;
  --colors-primary-950: #001129;
  --colors-primary-10-rgb: 253, 251, 255;
  --colors-primary-50-rgb: 236, 241, 255;
  --colors-primary-100-rgb: 213, 227, 255;
  --colors-primary-200-rgb: 167, 200, 255;
  --colors-primary-300-rgb: 122, 173, 250;
  --colors-primary-400-rgb: 94, 146, 221;
  --colors-primary-500-rgb: 66, 120, 193;
  --colors-primary-600-rgb: 36, 95, 166;
  --colors-primary-700-rgb: 0, 70, 137;
  --colors-primary-800-rgb: 0, 48, 97;
  --colors-primary-900-rgb: 0, 27, 60;
  --colors-primary-950-rgb: 0, 17, 41;
  --colors-secondary-10: #fdfbff;
  --colors-secondary-50: #ecf1ff;
  --colors-secondary-100: #d9e3f8;
  --colors-secondary-200: #bdc7dc;
  --colors-secondary-300: #a2abc0;
  --colors-secondary-400: #8791a5;
  --colors-secondary-500: #6e778a;
  --colors-secondary-600: #555f71;
  --colors-secondary-700: #3d4758;
  --colors-secondary-800: #273141;
  --colors-secondary-900: #121c2b;
  --colors-secondary-950: #071120;
  --colors-secondary-10-rgb: 253, 251, 255;
  --colors-secondary-50-rgb: 236, 241, 255;
  --colors-secondary-100-rgb: 217, 227, 248;
  --colors-secondary-200-rgb: 189, 199, 220;
  --colors-secondary-300-rgb: 162, 171, 192;
  --colors-secondary-400-rgb: 135, 145, 165;
  --colors-secondary-500-rgb: 110, 119, 138;
  --colors-secondary-600-rgb: 85, 95, 113;
  --colors-secondary-700-rgb: 61, 71, 88;
  --colors-secondary-800-rgb: 39, 49, 65;
  --colors-secondary-900-rgb: 18, 28, 43;
  --colors-secondary-950-rgb: 7, 17, 32;
  --colors-tertiary-10: #fffbff;
  --colors-tertiary-50: #feebff;
  --colors-tertiary-100: #f8d8fe;
  --colors-tertiary-200: #dbbce1;
  --colors-tertiary-300: #bfa2c5;
  --colors-tertiary-400: #a387aa;
  --colors-tertiary-500: #886e8f;
  --colors-tertiary-600: #6e5676;
  --colors-tertiary-700: #563e5d;
  --colors-tertiary-800: #3e2845;
  --colors-tertiary-900: #28132f;
  --colors-tertiary-950: #1c0824;
  --colors-tertiary-10-rgb: 255, 251, 255;
  --colors-tertiary-50-rgb: 254, 235, 255;
  --colors-tertiary-100-rgb: 248, 216, 254;
  --colors-tertiary-200-rgb: 219, 188, 225;
  --colors-tertiary-300-rgb: 191, 162, 197;
  --colors-tertiary-400-rgb: 163, 135, 170;
  --colors-tertiary-500-rgb: 136, 110, 143;
  --colors-tertiary-600-rgb: 110, 86, 118;
  --colors-tertiary-700-rgb: 86, 62, 93;
  --colors-tertiary-800-rgb: 62, 40, 69;
  --colors-tertiary-900-rgb: 40, 19, 47;
  --colors-tertiary-950-rgb: 28, 8, 36;
  --colors-error-10: #fffbff;
  --colors-error-50: #ffedea;
  --colors-error-100: #ffdad6;
  --colors-error-200: #ffb4ab;
  --colors-error-300: #ff897d;
  --colors-error-400: #ff5449;
  --colors-error-500: #de3730;
  --colors-error-600: #ba1a1a;
  --colors-error-700: #93000a;
  --colors-error-800: #690005;
  --colors-error-900: #410002;
  --colors-error-950: #2d0001;
  --colors-error-10-rgb: 255, 251, 255;
  --colors-error-50-rgb: 255, 237, 234;
  --colors-error-100-rgb: 255, 218, 214;
  --colors-error-200-rgb: 255, 180, 171;
  --colors-error-300-rgb: 255, 137, 125;
  --colors-error-400-rgb: 255, 84, 73;
  --colors-error-500-rgb: 222, 55, 48;
  --colors-error-600-rgb: 186, 26, 26;
  --colors-error-700-rgb: 147, 0, 10;
  --colors-error-800-rgb: 105, 0, 5;
  --colors-error-900-rgb: 65, 0, 2;
  --colors-error-950-rgb: 45, 0, 1;
  --colors-neutral-10: #fdfbff;
  --colors-neutral-50: #f1f0f4;
  --colors-neutral-100: #e3e2e6;
  --colors-neutral-200: #c7c6ca;
  --colors-neutral-300: #ababaf;
  --colors-neutral-400: #909094;
  --colors-neutral-500: #76777a;
  --colors-neutral-600: #5e5e62;
  --colors-neutral-700: #46474a;
  --colors-neutral-800: #2f3033;
  --colors-neutral-900: #1a1c1e;
  --colors-neutral-950: #101114;
  --colors-neutral-10-rgb: 253, 251, 255;
  --colors-neutral-50-rgb: 241, 240, 244;
  --colors-neutral-100-rgb: 227, 226, 230;
  --colors-neutral-200-rgb: 199, 198, 202;
  --colors-neutral-300-rgb: 171, 171, 175;
  --colors-neutral-400-rgb: 144, 144, 148;
  --colors-neutral-500-rgb: 118, 119, 122;
  --colors-neutral-600-rgb: 94, 94, 98;
  --colors-neutral-700-rgb: 70, 71, 74;
  --colors-neutral-800-rgb: 47, 48, 51;
  --colors-neutral-900-rgb: 26, 28, 30;
  --colors-neutral-950-rgb: 16, 17, 20;
  --colors-gray-10: #fdfbff;
  --colors-gray-50: #eef0fa;
  --colors-gray-100: #e0e2ec;
  --colors-gray-200: #c4c6cf;
  --colors-gray-300: #a8abb4;
  --colors-gray-400: #8e9199;
  --colors-gray-500: #74777f;
  --colors-gray-600: #5b5e66;
  --colors-gray-700: #43474e;
  --colors-gray-800: #2d3038;
  --colors-gray-900: #181c22;
  --colors-gray-950: #0d1117;
  --colors-gray-10-rgb: 253, 251, 255;
  --colors-gray-50-rgb: 238, 240, 250;
  --colors-gray-100-rgb: 224, 226, 236;
  --colors-gray-200-rgb: 196, 198, 207;
  --colors-gray-300-rgb: 168, 171, 180;
  --colors-gray-400-rgb: 142, 145, 153;
  --colors-gray-500-rgb: 116, 119, 127;
  --colors-gray-600-rgb: 91, 94, 102;
  --colors-gray-700-rgb: 67, 71, 78;
  --colors-gray-800-rgb: 45, 48, 56;
  --colors-gray-900-rgb: 24, 28, 34;
  --colors-gray-950-rgb: 13, 17, 23;
  --colors-surface-100: #f8fafd;
  --colors-surface-200: #f3f6fc;
  --colors-surface-300: #eff3fa;
  --colors-surface-400: #edf2fa;
  --colors-surface-500: #eaf0f9;
  --colors-surface-100-rgb: 248, 250, 253;
  --colors-surface-200-rgb: 243, 246, 252;
  --colors-surface-300-rgb: 239, 243, 250;
  --colors-surface-400-rgb: 237, 242, 250;
  --colors-surface-500-rgb: 234, 240, 249;
  --colors-surfacedark-100: #28292a;
  --colors-surfacedark-200: #2d2f31;
  --colors-surfacedark-300: #333438;
  --colors-surfacedark-400: #34363a;
  --colors-surfacedark-500: #383a3e;
  --colors-surfacedark-100-rgb: 40, 41, 42;
  --colors-surfacedark-200-rgb: 45, 47, 49;
  --colors-surfacedark-300-rgb: 51, 52, 56;
  --colors-surfacedark-400-rgb: 52, 54, 58;
  --colors-surfacedark-500-rgb: 56, 58, 62;
  --colors-white-rgb: 255, 255, 255;
  --colors-black-rgb: 0, 0, 0;
}
